/* Payment Popup CSS Start */

#unified-payment-popup.modal {
  width: 420px;
  height: 85vh;
  background: #F5F5F5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 8px;
}
#unified-payment-popup.modal.compact-modal {
  background: linear-gradient(204.83deg, #F7FBF9 0%, #FFFFFF 78.4%);

}

#unified-payment-popup .modal-header {
  /* background: #F6F7F9; */
  box-shadow: 0px 1px 2px 0px #00000014;
  padding: 16px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

#unified-payment-popup.modal.compact-modal .modal-header {
  /* background: linear-gradient(204.83deg, #F7FBF9 0%, #FFFFFF 78.4%); */
  border-bottom: 1px solid #ECF6F4;
  box-shadow: none;
}

#unified-payment-popup .close-btn {
  border: none;
  background: none;
  font-size: 22px;
  cursor: pointer;
}

#unified-payment-popup .modal-body {
  flex: 1;
  padding: 11px;
  overflow-y: auto;
  padding-bottom: 20px;
}

#unified-payment-popup .card {
  background: #fff;
  border-radius: 14px;
  padding: 16px 16px;
  margin-bottom: 16px;
}

#unified-payment-popup .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom:8px;
}
#unified-payment-popup .card-header .card-title{
  display: flex;
  align-items: center;
}
#unified-payment-popup .summary-body p.date-text{
  color: #4C5459;
  font-weight:400;
  font-size: 11px;
  margin-top: 0px;
  margin-bottom:12px;
}
#unified-payment-popup .card-header .card-title span{
  color: #171717;
  font-weight: 500;
  font-size: 14px;
  padding-left: 5px;
}
#unified-payment-popup .card-header .card-title span span{
  color: #4B5055;
  font-weight: 400;
}
#unified-payment-popup .edit {
    cursor: pointer;
    opacity: 0.6;
}

#unified-payment-popup.processing-active .stepper,
#unified-payment-popup.processing-active .modal-header,
#unified-payment-popup.processing-active .modal-footer,
#unified-payment-popup.processing-active .footer-green-border {
  display: none;
}

#unified-payment-popup.processing-active .main-content {
  display: none !important;
}

#unified-payment-popup.processing-active .processing-overlay {
  display: flex !important;
}
#unified-payment-popup.processing-active .modal-body{
  padding: 0;
}
#unified-payment-popup.modal.processing-active{
  background: #fff;
}

#unified-payment-popup .processing-overlay {
  height: 100%;
}
#unified-payment-popup .main-content {
  animation: fadeInUp 0.35s ease;
}
#unified-payment-popup .processing-card {
  width: 420px;
  background: linear-gradient(187.1deg, #F7FBF9 10.83%, #FFFFFF 94.46%);
  border-radius: 24px;
  padding: 30px 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-bottom: 82px;
}

#unified-payment-popup .logo-wrap {
  display: flex;
  align-items: center;
  gap: 6px;
}

#unified-payment-popup .logo-text {
  font-size: 22px;
  font-weight: 600;
}

#unified-payment-popup .loading-text {
  font-size: 14px;
  color: #6B7280;
  font-weight: 400;
  margin-bottom: 28px;
  text-align: center;
   min-height: 22px;
  animation: fadeText 0.4s ease;
}


@keyframes fadeText {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
#unified-payment-popup .progress-bar {
  width: 88%;
  height: 4px;
  background: #E5E7EB;
  border-radius: 999px;
  overflow: hidden;
}

#unified-payment-popup .progress-fill {
  display: block;              
  width: 0%;
  height: 100%;
  background: linear-gradient(90deg, #116759 0%, #00A389 100%);
  transition: width 0.1s linear;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes loading {
  0% { width: 0; }
  50% { width: 70%; }
  100% { width: 100%; }
}

/* time line */
#unified-payment-popup .stepper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 0 20px 0px;
  gap: 10px;
}

#unified-payment-popup .line {
  flex: 1;
  height: 1px;
  background: #e5e7eb;
}

#unified-payment-popup .step {
  display: flex;
  align-items: center;
  gap: 6px;
  white-space: nowrap;
  font-size: 12px;
  color: #9AA4AA;
  font-weight: 400;
}

#unified-payment-popup .step .dot {
  width: 10px;
  height:10px;
  border-radius: 50%;
  border: 1px solid #C4C8CD;
  background: #E7EAEA;
}

/* ACTIVE STEP */
#unified-payment-popup .step.active {
  color: #000;
  font-weight: 500;
}

#unified-payment-popup .step.active .dot {
  background: #00A389;
  border-color: #00A389;
}
#unified-payment-popup .step.green .dot {
  background: #116759;
  border-color:#116759;
}
#unified-payment-popup .step.active.green .dot {
  background: #00A389;
  border-color:#00A389;
}

/* Bottom */
#unified-payment-popup .methods {
  text-align: center;
  position: absolute;
  bottom: 25px;
  width: 100%;
}

#unified-payment-popup .methods p {
  font-size: 12px;
  font-weight: 500;
  color: #9CA3AF;
  margin-bottom: 12px;
}

#unified-payment-popup .methods .icons {
  display: flex;
  gap: 10px;
  justify-content: center;
}
#unified-payment-popup .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#unified-payment-popup .summary-body label {
    font-size: 12px;
    color: #6D6F72;
    font-weight: 400;
}

#unified-payment-popup .summary-body p {
    margin: 2px 0 0;
    font-weight: 500;
    font-size: 13px;
    color: #000000;
}

#unified-payment-popup .summary-body .address {
    font-size: 12px;
    font-weight: 500;
    color: #374151;
    margin: 0;
}

/* Smooth open/close */
#unified-payment-popup .summary-body {
  overflow: hidden;
  transition: max-height 0.35s ease, opacity 0.25s ease;
}

#unified-payment-popup .summary.open .summary-body {
  max-height: 260px;
  opacity: 1;
}
#unified-payment-popup .open .arrows{
  transform: rotate(180deg);
  cursor: pointer;
}

#unified-payment-popup .summary-title {
  display: flex;
  align-items: center;
  gap: 6px;
}

#unified-payment-popup .summary-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  font-size: 14px;
  color: #374151;
  font-weight: 500;
}

#unified-payment-popup .summary-divider {
  height: 1px;
  background: #eaeaea;
  margin: 6px 0;
}
#unified-payment-popup .summary-row.total {
  font-weight: 500;
  font-size: 15px;
  color: #374151;
}

#unified-payment-popup .arrow,
#unified-payment-popup .edit-icon {
  transition: opacity 0.25s ease, transform 0.3s ease;
  cursor: pointer;
}

#unified-payment-popup .arrow {
  display: inline-block;
  cursor: pointer;
}

#unified-payment-popup .summary.open .arrow {
  opacity: 0;
  transform: rotate(180deg);
  display: none;
  cursor: pointer;
}

#unified-payment-popup .summary.open .edit-icon {
  display: inline-block;
  opacity: 1;
}

#unified-payment-popup .toggle-summary {
  cursor: pointer;
}

#unified-payment-popup .form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
}

#unified-payment-popup .form-group {
  margin-bottom: 10px;
}

#unified-payment-popup .form-group label {
  font-size: 12px;
  color: #6D6F72;
  font-weight: 400;
  display: block;
  margin-bottom: 6px;
}

#unified-payment-popup .form-group input, #unified-payment-popup .form-group select {
  width: 100%;
  height: 30px;
  padding: 0 12px;
  border-radius: 5px;
  border: 1px solid #d0d7de;
  font-size: 12.5px;
  outline: none;
}

#unified-payment-popup .form-group input:focus, #unified-payment-popup .form-group select:focus {
  border-color: #0b7d69;
}

#unified-payment-popup .phone-input {
  display: flex;
  align-items: center;
  border: 1px solid #d0d7de;
  border-radius: 8px;
  overflow: hidden;
}

#unified-payment-popup .phone-input input {
  border: none;
  height: 30px;
}

#unified-payment-popup .country-code {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 0 10px;
  font-size: 14px;
  border-right: 1px solid #d0d7de;
  cursor: pointer;
}

#unified-payment-popup .save-btn {
  margin-top: 8px;
  width: 100%;
  height: 32px;
  border-radius: 7px;
  border: none;
  background: #116759;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}

#unified-payment-popup .save-btn:hover {
  background: #0d5a4c;
}

#unified-payment-popup .middle-content {
  display: none;
}

#unified-payment-popup .summary.editing .summary-body {
  display: none;
}

#unified-payment-popup .summary.editing .middle-content {
  display: block;
  animation: fadeSlide 0.3s ease;
}

/* Smooth micro animation */
@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateY(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* payment */
#unified-payment-popup .payment-method-content,
#unified-payment-popup .Pay-content {
  display: none;
}
#unified-payment-popup .payment-method-content,
#unified-payment-popup .Pay-content,
#unified-payment-popup .main-content {
  animation: fadeInUp 0.35s ease;
}

#unified-payment-popup .payment-wrapper, .Pay-content {
  padding: 0px 14px;
}

#unified-payment-popup .payment-wrapper .title {
  margin-bottom: 18px;
}

#unified-payment-popup .payment-wrapper .title h2 {
  font-size: 17px;
  font-weight: 600;
  margin: 6px 0;
  color: #000000;
}

#unified-payment-popup .payment-wrapper .title p {
  font-size: 12px;
  font-weight: 400;
  color: #A5A7A9;
  margin-top: 5px;
}

#unified-payment-popup .payment-wrapper .payment-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#unified-payment-popup .payment-wrapper .payment-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 16px;
  border: 1.5px solid transparent;
  box-shadow: 0px 2px 8px 0px transparent;
}

#unified-payment-popup .payment-wrapper .payment-option:hover {
  background: #fff;
  box-shadow: 0px 2px 8px 0px #0000000A;
  border-radius: 100px;
  border: 1.5px solid #00000012;
  cursor: pointer;
}

#unified-payment-popup .payment-wrapper .payment-option input {
  display: none;
}
#unified-payment-popup .payment-wrapper .payment-option:focus-visible{
  outline: none;
}

#unified-payment-popup .payment-wrapper .payment-option .left {
  display: flex;
  align-items: center;
  gap: 12px;
}

#unified-payment-popup .payment-wrapper .pay-icon {
  font-size: 20px;
}

#unified-payment-popup .payment-wrapper .payment-option h4 {
  font-size: 14px;
  margin: 0;
  color: #171717;
  font-weight: 500;
}

#unified-payment-popup .payment-wrapper .payment-option span {
  font-size: 12px;
  color: #6D6F72;
  font-weight: 400;
}

#unified-payment-popup .payment-wrapper .payment-option.active {
  background: #F2FBF8;
  border-radius: 100px;
  border: 1.5px solid #00A38966;
  cursor: pointer;
}

#unified-payment-popup .payment-wrapper .payment-option.active .check {
  background: #00A389;
}

/* CHECK ICON */
#unified-payment-popup .payment-wrapper .check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #80808038;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

}
#unified-payment-popup .payment-wrapper .payment-option.active .check{
  opacity: 1;
}

#unified-payment-popup .payment-wrapper .payment-option:hover .check {
  opacity: 1;
}

#unified-payment-popup .payment-wrapper .check::after {
  content: "✓";
  color: #fff;
  font-size: 12px;
}
#unified-payment-popup .payment-option.active:hover .check {
  border-color: #e5e7eb;
  background: #00A389;
}
#unified-payment-popup .payment-option.active:hover .check::after{
  color: #fff;
}
#unified-payment-popup .payment-option:hover .check::after {
  color: #fff;
}
#unified-payment-popup .card-note{
  margin-top: 10px;
  transition: opacity 0.4s ease;
}
#unified-payment-popup .card-note p{
  font-size: 10px;
  font-weight: 400;
  color: #0F3D33;
  border: 1px solid #8ED1C380;
  background: #8ed1c354;
  box-shadow: 0px 4px 12px 0px #11675914;
  border-radius: 6px;
  padding: 7px 12px;
  text-align: center;
  width: fit-content;
  margin: auto;
}



#unified-payment-popup .smart-protection h3{
  font-size: 17px;
  font-weight: 600;
  color: #000;
  margin-bottom: 6px;
  margin-top: 0;
}

#unified-payment-popup .smart-protection .subtitle{
  font-size: 12px;
  color: #A5A7A9;
  margin-bottom: 19px;
  font-weight: 400;
}
#unified-payment-popup .smart-protection .subtitle b{
  font-size: 12px;
  color: #374151;
  margin-bottom: 14px;
  font-weight: 500;
}

#unified-payment-popup .protection-card{
  background: #ffffff;
  border-radius: 15px;
  padding: 12px 14px;
  margin-bottom: 10px;
  border: 1px solid #e7eeec;
}
#unified-payment-popup .protection-title{
  display: flex;
  gap: 6px;
}

#unified-payment-popup .protection-card h4{
  font-size: 14px;
  font-weight: 500;
  margin: 0 0 4px;
  color: #171717;
}

#unified-payment-popup .protection-card p{
  font-size: 12px;
  font-weight: 400;
  color: #6D6F72;
  margin-top: 5px;
  margin: 0;
  line-height: 1.4;
}

#unified-payment-popup .protection-card p b{
  color: #171717;
  font-weight: 400;
}



#unified-payment-popup .complete-process{
 display: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  animation: fadeInUp .35s ease;
}

#unified-payment-popup .complete-process h3{
  margin: 12px 0 4px;
  font-size: 18px;
}

#unified-payment-popup .complete-process p{
  font-size: 13px;
  color: #6b7280;
}
@keyframes fadeInUp{
  from{
    opacity:0;
    transform: translateY(20px);
  }
  to{
    opacity:1;
    transform: translateY(0);
  }
}



/* footer Bottom Sheet */
#unified-payment-popup .pay-summary-sheet{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 69px;
  background: #FAFAFB;
  border-radius: 22px 22px 0 0;
  box-shadow: 0 -12px 25px rgba(0,0,0,.15);
  max-height: 0;
   /* overflow: hidden; */
  transition: max-height .35s ease;
  z-index: 0;
}
#unified-payment-popup .sheet-header{
  background: #FFFFFF;
  box-shadow: 0px 1px 7px 0px #0000000D;
  border-radius: 22px 22px 0 0;
  padding-bottom: 1px;

}
#unified-payment-popup .pay-summary-sheet h3{
  color: #0A0C11;
  font-size: 14px;
  font-weight: 400;
  text-align: center;  
  margin: 15px 0;
}
/* OPEN STATE */
#unified-payment-popup .pay-summary-sheet.open{
  max-height: 550px; /* fixed height = smooth animation */
}

/* Handle */
#unified-payment-popup .sheet-handle{
  width: 36px;
  height: 4px;
  background: #909298;
  border-radius: 10px;
  margin: auto;
  cursor: pointer;
}

/* Summary content */
#unified-payment-popup .summary-info{
  background: #FAFAFB;

}
#unified-payment-popup .summary-box{
  margin: 14px 6px 45px 6px;
  border-radius: 12px;
  background: #fff;
  padding: 10px 16px;
}
#unified-payment-popup .summary-box .row{
  display: flex;
  justify-content: space-between;
  padding: 6px 0;
  font-size: 13px;
}
#unified-payment-popup .summary-box .divider{
  height: 1px;
  background: #e5e7eb;
  margin: 8px 0;
}
#unified-payment-popup .summary-box .total{
  font-weight: 600;
}

/* Arrow rotate */
#unified-payment-popup .arrow i{
  transition: transform .3s ease;
}

#unified-payment-popup .pay-summary-sheet.open ~ .modal-footer .arrow i{
  transform: rotate(180deg);
}

/* Footer */
#unified-payment-popup .footer-green-border{
    position: relative;
}
.footer-wrp{
  background:   #116759;
  box-shadow: 0px 4px 24px 0px #00000014;
  padding: 1px 16px 5px;
  border-radius: 18px;
  position: absolute;
  bottom: 47px;
  left: 0;
  right: 0;
  height: 56px;
  text-align: center;
  /* margin-bottom: -26px; */
  z-index: 1;
}
#unified-payment-popup .footer-wrp span{
  color: #FFFFFF;
  font-size: 11px;
  font-weight: 400;
}
#unified-payment-popup.compact-modal .footer-wrp{
  height: 33px;
}
#unified-payment-popup.compact-modal .footer-wrp span{
  display: none;
}
#unified-payment-popup .modal-footer {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

#unified-payment-popup .footer-card {
  background: #fff;
  border-radius: 18px;
  padding: 14px 22px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

#unified-payment-popup .amount span {
  font-size: 12px;
  color: #7a7a7a;
}

#unified-payment-popup .price {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  display: flex;
  align-items: center;
  gap: 6px;
}

#unified-payment-popup .proceed-btn {
  background: #172825;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  max-width: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#unified-payment-popup .proceed-btn .icon {
  font-size: 16px;
}

#unified-payment-popup .proceed-btn:hover {
  background: #0e201c;
}

/* optional styling */
#unified-payment-popup .back-btn {
  background: #F7FAFC;
  border-radius: 8px;
  border: none;
  color: #171717;
  cursor: pointer;
  width: 30px;
  height: 30px;
  font-size: 13px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.25s ease;
}

#unified-payment-popup .back-btn.show {
  visibility: visible;
  opacity: 1;
}


/* Payment Popup CSS End*/